.determinant_calculator{
    margin:0;
    padding: 0;
    display: grid;
    grid-template-columns: 1.5fr 7fr;
}
@media screen and (max-width:800px){
    .determinant_calculator{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
.deter_heading{
    padding:10px;
    font-size:30px;
    color:white;
    font-weight: 600;
    text-align: center;
    margin:10px auto 0px auto;
    text-decoration: dotted underline;
}
.deter_details{
    padding:10px;
    font-size: 20px;
    color:white;
    text-align: center;
    margin-top:0px;
}
a{
    color:antiquewhite;
    font-family: cursive;
}
.find_determinant{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.find_determinant .method{
    margin: auto auto;
    padding:5px;
}
.find_determinant .method label{
    font-size: 20px;
    color:white;
    font-weight: 400;
    margin-right: 10px;
}
.find_determinant .method select{
    font-size: 19px;
    color:white;
    font-weight: 400;
    background-color: black;
}
.find_determinant .column_no{
    margin: auto auto;
    padding:5px;
}
.find_determinant .column_no label{
    font-size: 20px;
    color:white;
    font-weight: 400;
    margin-right: 10px;
}
.find_determinant .column_no input{
    font-size: 18px;
    color:white;
    font-weight: 400;
    background-color: black;
}
.find_determinant .find_btn{
    width:10vw;
    max-width: 100px;
    height:30px;
    border-radius: 5px;
    margin:10px auto;
    border:none;
    background-color: rgb(34, 197, 238);
    height:25px;
    color:white;
    font-size: 15px;
}
.find_determinant .find_btn:hover{
    background-color: white;
    color:rgb(34, 197, 238);
    cursor: pointer;
    border:1px solid black;
}