.system_of_eqns{
    margin:0;
    padding: 0;
    display: grid;
    grid-template-columns: 1.5fr 7fr;
}
@media screen and (max-width:800px){
    .system_of_eqns{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
hr{
    width:100%;
}
.eqn_jsx{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.eqn_jsx h1{
    text-align: center;
    color:white;
    text-decoration:dotted underline;
}
.eqn_jsx p{
    padding:10px;
    margin:10px auto;
    font-size:1.3rem;
    color:white;
    text-align: center;
}
.eqn_jsx h2{
    padding-left:20px;
    color:white;
}
.eqn_jsx .solve_deter{
    display: flex;
    justify-content: center;
}
.eqn_jsx .solve_deter select{
    margin:10px;
    height:30px;
    width:35vw;
    font-size: 15px;
    max-width: 400px;
    background-color: black;
    border : white 1px solid;
    color:white;
}
.eqn_jsx .solve_deter button{
    margin:10px;
    width:20vw;
    max-width: 100px;
    font-size:18px;
    font-weight: 600;
    border-radius: 20px;
    border:none;
    background-color: rgb(34, 197, 238);
    height:30px;
    color:white;
}
.eqn_jsx .solve_deter button:hover{
    background-color: white;
    color:rgb(34, 197, 238);
    cursor: pointer;
    border:1px solid black;
}
.part_eqn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.part_eqn .box{
    margin:5px;
}
.part_eqn label{
    color:white;
    font-size: 1.1rem;
    font-weight: 600;
}
.part_eqn .plus_sign{
    margin:auto 10px;
}
.eqn_buttons{
    display: flex;
    flex-direction: row;
    padding:10px;
    max-width:400px;
    align-content: center;
    margin:auto auto;
}
.eqn_buttons button{
    width:8vw;
    min-width:fit-content;
    border-radius: 20px;
    border:none;
    background-color: rgb(34, 197, 238);
    height:25px;
    color:white;
    margin:auto 10px;
}
.eqn_buttons button:hover{
    background-color: white;
    color:rgb(34, 197, 238);
    cursor: pointer;
    border:1px solid black;
}